.square {
   position: absolute;
    width: 15rem;
    height: 5rem;
    cursor: pointer;
   
  }
  .square2 {
    position: absolute;
     width: 15rem;
     height: 5rem;
     cursor: pointer;
     left:30rem;
     background-image: linear-gradient(to right, #114357, #f29492);
   }

  .full-screen-square {
    position: absolute;
    width: 30%;
    height: 30%;
    cursor: pointer;
    top: 50px;
    left:100px;
    z-index: 1;
   
  }


    .full-screen-square2 {
      position: absolute;
      width: 30%;
      height: 30%;
      cursor: pointer;
      top: 50px;
      left:350px;
      background-image: linear-gradient(45deg, rgb(113, 234, 182), rgb(97, 71, 182))}
  
  