<!-- PYTHON CODE
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="im/download.ico" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <meta charset="UTF-8" />
    <title>
      IOSD IDE
    </title>
  </head>
  <body>

    <link rel="stylesheet" href="lib/codemirror.css" />
    <script src="lib/codemirror.js"></script>
    <script>
      var editor = CodeMirror.fromTextArea(myTextarea, {
        lineNumbers: true
      });
    </script>
    <a href="/users/a">Switch to PHP</a>
    <form id="" method="post" class="form-group mt-5">
      <input
        type=""
        id="code"
        name="code"
        placeholder="Write Python code."
      /><br /><br />
      <button
        type="submit"
        class="btn text-light"
        style="background-color:#3079ed"
      >
        Run
      </button>
    </form>
  </body>
</html> -->
